.page-category {
    // PLP filters
    a.list-group-item {
        &:hover,
        &:active {
            background: transparent;    
        }
    }

    .panel {
        border-color: $white;
        border-radius: 0;
        box-shadow: none;

        .panel-heading {
            display: none;
        }

        .list-group {
            .list-group-item {
                text-transform: capitalize;
                background: transparent;
                border: 0;
            }

            a.list-group-item {
                font-weight: 600;
                border-bottom-color: transparent;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;

                &::after {
                    content:"\f077";
                    font-family: 'FontAwesome';
                    font-weight: 100;
                }

                &.active {
                    &::after {
                        content:"\f078";
                    }
                }
            }

            div.list-group-item {
                border: 0;
            }

            .list-box {
                background-color: lighten($nt-graylight, 5%);

                + .list-box {
                    margin-top: 10px;
                }
            }
        }

        .panel-footer {
            border-radius: 0;
            background: transparent;
            margin-top: 10px;
            border-top-color: $nt-graylight;
        }

        &.category-list {
            a {
                display: block;
                text-overflow: ellipsis;
                margin: 5px 0;
            }
        }
    }

    // Page title
    .heading-title {
        border-bottom: 1px solid $gray;
    }
}