.page-checkout-cart {
    h3 {
        background-color: lighten($gray, 10%);
        font-size: 18px;
        line-height: 40px;
        margin: 0 0 15px;
        padding: 0 15px;
        text-transform: uppercase;
        border: 0;
        font-weight: 400;
    }
}