nav {
    background: $nt-tarawera;
}

.hamburger {
    color: $white;
    font-size: 24px;
}

.megamenu {
    .caret {
        display: none; 
    }
}


.dropdown-menu,
.dropdown-mega {
    @include border-radius(0);
    box-shadow:unset;
    @include reset-list;
}

// mmenu - mobile
.mm-panel,
.mm-panels {
    background: $white;
}

.mm-btn_next:after {
    border-color: $black;
}


// menu desktop
.desktop-nav {
    font-size: 16px;
    color: $white;
    font-weight: 500;
    line-height: 40px;
    background-color: $nt-lightpink;
    min-width: 300px;
    padding: 0 10px;

    &:hover {
        text-decoration: none;
        color: $white;
        
    }
}

@include media-breakpoint-up(lg) {
    .topbar {
        position: absolute;
        background: $white;

        // Reset list styles
        ul {
            @include list-unstyled();
            margin: 0;
        }

        ul.megamenu {
            width: 300px;
            box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.1);

            > li.dropdown {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                position: relative;

                &:hover {
                    border-top-color: lighten($color: $gray, $amount: 10%);
                    border-bottom-color: lighten($color: $gray, $amount: 10%);

                    &::before {
                        content: '';
                        display: block;
                        height: 100%;
                        width: 5px;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        z-index: 9999;
                    }

                    > ul {
                        display: block;
                    }
                }

                a {
                    display: block;
                    padding: 5px 10px;
                    color: $black;
                    text-decoration: none;
                }

                > ul    {
                    display: none;
                    position: absolute;
                    right: 0;
                    left: 100%;
                    padding: 0 5px;
                    width: 300px;
                    height: 442px;
                    background: #fff;
                    border: 0;
                    padding: 5px 10px;
                    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}