nav {
    background: $nt-tarawera;
}

.megamenu {
    .caret {
        display: none; 
    }
}

.dropdown-menu,
.dropdown-mega {
    @include border-radius(0);
    box-shadow:unset;
    @include reset-list;
}

.navbar-ex1-collapse {
    //display: none;
    @include media-breakpoint-up(lg) {
       //display: none;
    }
}


// mmenu - mobile
.mm-panel,
.mm-panels {
    background: $white;
}


// menu desktop
@include media-breakpoint-up(lg) {
    .megamenu {
        display: flex;
        flex-direction: row;
        
        margin: 0;
        padding: 0;
        //position: absolute;
        //width: 280px;

        //border-left: 1px solid $gray;
        //border-bottom: 1px solid $gray;
        //order-right: 1px solid $gray;
        //border-top: 0;


        > li {
            list-style: none;
            list-style-type: none;

            + li {
          //      border-top: 1px solid $gray;
            }
        }

        li {
            
            a {
                display: block;
                padding: 5px 10px;
                color: $white;
                text-transform: uppercase;
            }
        }
    }
}